# Build requirements for PyInstaller
pyinstaller>=6.7.0
pyinstaller-hooks-contrib>=2024.9

# For Windows builds
pywin32-ctypes>=0.2.0 ; sys_platform == 'win32'
pefile>=2023.2.7 ; sys_platform == 'win32'

# For macOS builds
macholib>=1.16 ; sys_platform == 'darwin'

# For better compression
pyinstaller-versionfile>=2.1.1 ; sys_platform == 'win32'